@import "variable.scss";
@import "font.scss";

body { 
    margin: 0;
    padding: 0;  
    background-color: gray;
}



































































@import "media.scss"; 